// Place all the styles related to the People controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  border-top: 5px solid #d35400;
}

header {
  width: 300px;
  margin: auto;
}

.about {
  width: 200px;
  margin: 20px auto;
}

h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

h2, h3 {
  font-family: Georgia, Times, serif;
}

h2, p {
  font-style: italic;
}

.contact {
  text-align: right; 
}

.links {
  
}
li {
   color: orange;
}